.bg {
    background-image: url("../resources/electric-car-charging-station-front-view-electric-car-silhouette-with-green-glowing-dark-background-ev-concept_148087-350.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    height:550px;
}

